@import "tailwindcss";

.home-page-container {
    position: relative;
    overflow-x: hidden;
}

@supports (height: 100svh) {
    .home-page-container {
        height: 100svh;
    }
}

@supports not (height: 100svh) {
    .home-page-container {
        height: 100vh;
    }
}